version: '3.8'

services:
  core:
    build:
      context: .
      dockerfile: dev.Dockerfile
      target: builder
    container_name: ostraka-service
    volumes:
      - .:/ostraka
      - /ostraka/webui
    working_dir: /ostraka
    ports:
      - "4000:4000"
    env_file:
      - .env