.preview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0;
}

.editor {
    background: #2f313c url("/img/window-header.svg")
    top left no-repeat;
    padding-top: 32px;
    border-radius: 6px;
    width: 100%;
}

.code {
    height: 100%;
    background-color: var(--palette-charade);
    overflow: hidden;
}

.code > :global([data-typeit-id]) {
    display: inline-block;
    height: 100%;
}

.code .prism-code {
}

.code pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: var(--palette-charade) !important;
}

:global([data-typeit-id]::before) {
    display: none !important; /* unfortunately, no way to config this in the typeit-react library */
}

.code :global(.token-line) {
    padding: 0 !important;
}

.previewTagline {
    color: var(--palette-pink);
}

.previewTaglineIcon {
    margin-right: 0.5rem;
    color: rgb(12, 192, 223);
}

.runQueryButton {
    display: inline-flex;
    margin-right: 0.3rem;
    height: auto;
    font-size: 15px;
    text-decoration: underline;
}

@media screen and (min-width: 800px) {
    .previewHeader {
        display: none;
    }

    .editor {
        width: 612px;

    }

    .header {
        text-align: left;
    }
}